/* Estilos Básicos */
.contact-section {
    padding: 2rem 0;
  }
  
  .contact-info {
    padding: 1rem;
  }
  
  /* Estilização dos campos de formulário */
  .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  /* Estilização do botão */
  .btn-primary {
    background-color: #007bff;
    border: none;
  }
  
  .btn-primary:hover, .btn-primary:focus {
    background-color: #0056b3;
    border: none;
    color: #ffffff;
  }
  
  /* Responsividade */
  @media screen and (max-width: 768px) {
    .contact-info, .contact-form {
      text-align: center;
    }
  }
  