/* portfolio-card.component.css */
/* portfolio-card.component.css */
.portfolio-card {
    cursor: pointer;
    width: 300px;
    margin: 20px;
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
.card:hover {
    transform: scale(1.05); /* aumenta o tamanho do cartão quando o mouse está por cima */
    transition: transform .2s ease-in-out; /* efeito de transição */
  }

  .detalhar{
    background-color: #ff9e8f;
    border: none;
    color: #ffdfd0;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
  }

  .detalhar:hover{
    background-color: #ff7c70;
    color: #ffdfd0;
  }

 
  