<header class="header text-dark py-3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 d-flex justify-content-between align-items-center">
          <div class="logo">
            <img src="../../../assets/images/logo1.png" alt="Logo" class="img-fluid" style="max-width: 100px;">
          </div>
          <div class="logo-text text-center">Arquitetura e Urbanismo</div> <!-- Movido para o centro -->
          <nav class="menu d-flex gap-3">
            <a routerLink="/" class="menu-item text-dark font-weight-bold">Home</a>
            <a routerLink="/sobre" class="menu-item text-dark font-weight-bold">Sobre</a>
            <a routerLink="/projetos" class="menu-item text-dark font-weight-bold">Projetos</a>
            <a routerLink="/contato" class="menu-item text-dark font-weight-bold">Contato</a>
          </nav>
        </div>
      </div>
    </div>
</header>
