@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.header {
  animation: slideInFromLeft 0.5s ease forwards;
  background-color: #ff7c70;
}

.logo-text {
  font-size: 24px;
  font-weight: 500;
}

.hamburger-menu {
  cursor: pointer;
  font-size: 24px;
}

.hamburger-dropdown {
  display: none;
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.hamburger-dropdown a,
.desktop-menu a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: black;
}

.hamburger-dropdown a:hover,
.desktop-menu a:hover {
  background-color: #ff9e8f;
}

.desktop-menu {
  display: none;
}

.desktop-menu .menu-item:hover {
  background-color: #c63637 ;
  border-radius: 25px;
  color: #ffdfd0;
}


@media screen and (min-width: 992px) {
  .hamburger-menu,
  .hamburger-dropdown {
    display: none;
  }
  .desktop-menu {
    display: flex;
    gap: 20px;
  }
}
