<footer class="footer bg-custom py-3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 d-flex flex-column align-items-center text-center">
          <p class="mb-2">© 2023. Todos os direitos reservados para Emilly da Silva Santos</p>
          <div class="d-flex gap-2">
            <a routerLink="/politica-privacidade" class="text-dark">Política de Privacidade</a>
            <span>|</span>
            <a routerLink="/termos-uso" class="text-dark">Termos de Uso</a>
            <span>|</span>
            <a routerLink="/contato" class="text-dark">Contato</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  