<div class="home container-fluid">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../../assets/maquete/image2.jpeg"
          class="d-block w-100 card-img-top"
          alt="Image 1"
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../../assets/quiosque/image1.jpeg"
          class="d-block w-100 card-img-top"
          alt="Image 2"
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../../assets/motorhome/image10.jpeg"
          class="d-block w-100 card-img-top"
          alt="Image 3"
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../../assets/casa1Sketchup/image10.jpeg"
          class="d-block w-100 card-img-top"
          alt="Image 4"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Seção "Sobre Mim" -->
  <section class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 sobre">
          <h2>Sobre Mim</h2>
          <p class="lead">
            Olá! Me chamo Emilly. Atualmente, estou no 5º semestre do curso de
            Arquitetura e Urbanismo na renomada Universidade São Judas. Desde o
            início da minha jornada acadêmica, descobri que tinha uma paixão
            natural pelo design e arquitetura.
          </p>

          <p class="no-lead">
            Apesar da minha carreira ainda estar em seus estágios iniciais, já
            mergulhei de cabeça, dedicando-me a projetos pessoais que refletem
            minha visão e abordagem para a arquitetura. Cada design que crio
            busca harmonizar funcionalidade com estética moderna, e estou
            incrivelmente orgulhosa do progresso que alcancei até agora.
          </p>

          <p class="no-lead">
            Meus professores e colegas na Universidade São Judas têm sido uma
            fonte constante de inspiração e apoio, reconhecendo não apenas o
            talento que trago para a mesa, mas também a paixão e dedicação que
            infundo em cada projeto.
          </p>

          <p class="no-lead">
            Ao explorar meu portfólio, você encontrará uma seleção dos projetos
            que mais me orgulho. Eles são um reflexo do meu comprometimento e
            desejo de inovar no campo da arquitetura. Enquanto sigo adiante,
            estou ansiosa para enfrentar novos desafios, aprender mais e
            continuar a moldar meu estilo e habilidades.
          </p>

          <p class="font-italic no-lead">
            Obrigada por dedicar um tempo para conhecer um pouco mais sobre mim
            e meu trabalho. Estou sempre aberta a novas oportunidades e adoraria
            ouvir de você!
          </p>
        </div>
        <div class="col-lg-6">
          <H2>Graduações e Cursos</H2>
          <p class="lead">Bacharel Arquitetura e Urbanismo</p>
          <p class="no-lead">Universidade São Judas Tadeu</p>
          <p class="no-lead"> 2022 - 2027</p>

          <div>-----------------------------------------------------</div>

          <p class="lead">Curso Técnico de Design De Interiores</p>
          <p class="no-lead">Senac</p>
          <p class="no-lead"> 2023 - 2024</p>

          <div>-----------------------------------------------------</div>

          <p class="lead">Curso Técnico de Paisagismo</p>
          <p class="no-lead">Senac</p>
          <p class="no-lead"> 2023 - 2024</p>

        </div>
      </div>
    </div>
  </section>
  
</div>
